html, body {
    color: var(--cssville-blue-grey-900-color);
    font-family: 'Inter', sans-serif;
    font-size: large;
}

.green {
    color: #6FAC6F;
}

.bg-green {
    background-color: #6FAC6F;
}

.code {
    font-family: 'JetBrains Mono', monospace;
}